@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input,
button,
textarea {
  font-family: ""; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1212px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 991.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

header {
  background-color: #8b0000;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 03%; }

.header-logo .header-logo-smail {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border: 4px solid yellow;
  float: left;
  border-style: ridge;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-logo .header-logo-smail .logo-down {
    text-align: right; }
  .header-logo .header-logo-smail:hover {
    outline: none; }

.header-menu .header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.header-menu .menu-list__items:hover .ul {
  display: block; }

.header-menu .menu-list__items:nth-child(1) a.menu-list-link {
  background-color: #ffff00; }

.header-menu .menu-list__items:nth-child(2) a.menu-list-link {
  background-color: #00ba00; }

.header-menu .menu-list__items:nth-child(3) a.menu-list-link {
  background-color: #fd2727; }

.header-menu .menu-list__items:nth-child(4) a.menu-list-link {
  background-color: #ffa500; }

.header-menu .menu-list__items:nth-child(5) a.menu-list-link {
  background-color: #1c89bb; }

.header-menu .menu-list-link {
  font-style: italic;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
  width: 160px;
  height: 40px;
  border: 2px solid #000;
  margin-right: 11px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header-menu .menu-list-link:hover::before, .header-menu .menu-list-link:hover::after {
    content: "!";
    color: #000; }
  .header-menu .menu-list-link:link {
    color: #8b0000; }

.header-menu .header-nava:link {
  color: #8b0000; }

.header-menu .header-nava:visited {
  color: #800080; }

.header-menu .header-nava:hover {
  color: #000000; }

.header-menu .header-nava:active {
  color: #1400d4; }

.ul {
  display: none;
  font-style: italic;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  width: 160px;
  padding: 1px 3px 3px;
  list-style-type: none;
  border: 2px solid #000;
  background: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .ul li {
    display: block;
    top: 25px;
    margin-top: 3px;
    background: #a3a3a3;
    border: 1px solid #f00; }
    .ul li a {
      text-decoration: none; }

.header-nav.ul a:hover::before {
  content: ">>";
  color: #000; }

.header-nav.ul a:hover::after {
  content: "<<";
  color: #000000; }

/*

.header-nava:hover::before {
  content: "!!!";
  color: #000;
}

.header-nava:hover::after {
  content: "!!!";
  color: #000000;
}

.header-nava {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-nava:link {
  color: #8b0000;
}

.header-nava:visited {
  color: #800080;
}

.header-nava:hover {
  color: #1400d4;
}

.header-nava:active {
  color: #000000;
}
*/
/*
.spease {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 10px 10px 10px color green;
  width: 220px;
  height: 120px;
  margin: 10px 15px;
  padding: 20px 10px;
  justify-content: center;
  align-items: flex-end;
}
*/
.catalog-item .prod_img {
  width: 140px;
  height: 140px;
  margin: 10px 20px 15px; }

.catalog-item {
  display: inline-block;
  outline-style: dashed;
  color: red;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 10px 10px 20px 11px;
  padding: 15px 10px; }

.catalog-item a {
  display: block;
  color: black; }

.kup h1 {
  display: block; }

#kup {
  float: right;
  border-radius: 1px;
  width: 250px;
  background-color: #fc0101;
  font-family: fantasy;
  font-size: 30px;
  border: 10px double yellow;
  text-transform: capitalize;
  margin: -3px 25px; }

#kup:hover {
  color: yellow;
  border-style: ridge;
  border-color: red;
  background: black; }

#kup:active {
  color: red; }

.prod_img {
  outline: 7px solid #ff0;
  float: left;
  margin: 7px 15px 15px; }

.prod_img:hover {
  outline: none; }

.pismo {
  margin-top: 1px;
  margin-left: 10px;
  overflow: hidden;
  border: 1px solid #f00; }

.kr {
  color: #707070;
  font-size: 15px;
  font-family: cursive;
  line-height: 16px; }

.kr::first-letter {
  font-size: 30px;
  color: #ff0000; }

.pod {
  color: #707070;
  font-size: 18px;
  font-family: cursive;
  line-height: 24px;
  text-align: left;
  margin-left: 10px; }

.pod::first-letter {
  font-size: 35px;
  color: #ff0000; }

.har {
  margin-left: 30px; }

.har li {
  color: #484343;
  font-style: oblique;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 25px;
  text-align: justify-all;
  list-style-image: url(/img/qw.jpg); }

.table {
  margin-left: 10px;
  border: 1px solid #000;
  width: 450px;
  height: 200px; }

.table td {
  border: 1px solid #000;
  padding: 5px;
  vertical-align: top;
  color: blue; }

.tr td {
  width: 15px;
  vertical-align: middle;
  text-align: center;
  color: red; }

.napishi,
.contact-data {
  margin-left: 15px; }

.napishi {
  width: 450px;
  border-radius: 7px;
  background-color: #dadada;
  padding: 20px;
  border: 2px solid #8b0000; }

.row {
  margin-bottom: 5px;
  /* Отступ снизу */ }

.vol_1 {
  width: 170px;
  /* Ширина блока с текстом */
  float: left;
  /* Расположение в одну строку с полем */
  text-align: left;
  /* Выравнивание по правому краю */ }

.vol_2 {
  width: 40px;
  /* Ширина поля */
  margin-left: 60px;
  /* Расстояние между полем и текстом */
  text-align: left; }

input[value="m"] {
  margin-left: 15px;
  width: 17px; }

input[value="g"] {
  margin-left: 50px;
  width: 17px; }

input,
select,
textarea {
  height: px;
  border-radius: 5px;
  width: 150px;
  background-color: #b3b3b3;
  font-size: 14px;
  border: 2px solid #8b0000;
  text-transform: capitalize; }

select {
  width: 154px; }

textarea {
  width: 148px;
  resize: vertical; }

input[type="tel"]:focus {
  color: #f00;
  background-color: #ff0;
  border: 2px solid #8b0000; }

input[type="email"]:focus {
  color: #f00;
  background-color: #ff0;
  border: 2px solid #8b0000; }

input[type="text"]:focus {
  color: #f00;
  background-color: #ff0;
  border: 2px solid #8b0000; }

textarea:focus {
  color: #f00;
  background-color: #ff0;
  border: 2px solid #8b0000; }

.row input[type="reset"] {
  width: 157px; }

.row input[type="reset"]:hover {
  color: black;
  border-style: solid;
  border-color: #550000;
  background: #818181;
  font-weight: 700; }

.row input[type="reset"]:active {
  color: #8b0000; }

.row input[type="submit"]:hover {
  color: black;
  border-style: solid;
  border-color: #550000;
  background: #818181;
  font-weight: 700; }

.row input[type="submit"]:active {
  color: #8b0000; }

.contact-data {
  width: 450px;
  border-radius: 7px;
  background-color: #dadada;
  padding: 20px;
  border: 2px solid #8b0000; }

.map {
  width: 100%;
  height: 374px;
  border-radius: 7px;
  border: 2px solid #8b0000; }

footer {
  height: 120px;
  background: #ccc;
  background: #000;
  text-align: center; }
  footer p {
    font-size: 20px;
    color: #fff;
    padding: 25px; }

body {
  background-color: #e8e8e8; }

body {
  display: block; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin: 0 auto;
  max-width: 880px;
  margin: 0 auto;
  width: 100%; }

.content {
  background-color: #cccccc; }

hr {
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
  margin-block-end: 0.5em;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px; }

a {
  color: #8b0000; }

h1 {
  color: #8b0000;
  font-size: 30px;
  font-family: cursive;
  background: yellow;
  min-height: 50px;
  vertical-align: bottom;
  text-align: left; }

h2 {
  color: #8b0000;
  font-size: 25px;
  font-family: cursive;
  background: yellow; }

h3 {
  color: black;
  font-size: 18px;
  font-weight: 400;
  background: #a3a3a3;
  margin-left: 10px; }

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6,
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6,
.catalogs h1,
.catalogs h2,
.catalogs h3,
.catalogs h4,
.catalogs h5,
.catalogs h6,
.games h1,
.games h2,
.games h3,
.games h4,
.games h5,
.games h6,
.items h1,
.items h2,
.items h3,
.items h4,
.items h5,
.items h6,
.contact h1,
.contact h2,
.contact h3,
.contact h4,
.contact h5,
.contact h6 {
  padding: 0 03%; }

.body h1,
.header h1,
.catalogs h1,
.games h1,
.items h1,
.contact h1 {
  margin: 25px 0px;
  min-height: 50px; }

.body h2,
.header h2,
.catalogs h2,
.games h2,
.items h2,
.contact h2 {
  margin: 20px 0px;
  min-height: 40px; }

.body h3,
.header h3,
.catalogs h3,
.games h3,
.items h3,
.contact h3 {
  margin: 15px 0px;
  min-height: 175px; }

.padd_cont {
  padding: 0 03%; }

p {
  font-size: 14px; }
