//<>====================================================
.catalogs {
  @include flexbox();
  flex-flow: row wrap;
  justify-content: flex-start;
}

.catalog-item {
  margin: 0px 20px 20px 0px;
  padding: 2px 2px;
  outline-style: dashed;
  color: red;
  & .prod_img {
    // width: 140px;
    // height: 140px;
    // width: 200px;
    // height: 200px;
    // margin: 10px 20px 15px;
    outline: none;
    // float: left;
    // margin: 7px 15px 15px;
    &:hover {
      outline: 7px solid #ff0;
    }
  }
}
//<>====================================================
.cont-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "kup" "img-b img-b" "hel" "b-b" "cha" "t-b";
  .img-block {
    grid-area: img-b;
    justify-self: center;
  }
  .kup {
    grid-area: kup;
    justify-self: center;
  }
  .helloys {
    grid-area: hel;
    justify-self: center;
  }
  .block-body {
    grid-area: b-b;
    justify-self: center;
  }
  .character {
    grid-area: cha;
    justify-self: center;
  }
  .tabl-block {
    grid-area: t-b;
    justify-self: center;
  }
}
//<>====================================================
// отменяет обтекания эл. с обеих сторон style="clear: both"
.kup #kup {
  grid-area: kup;
  // float: right;
  border-radius: 1px;
  width: 250px;
  background-color: #fc0101;
  font-family: fantasy;
  font-size: 30px;
  border: 10px double yellow;
  text-transform: capitalize;
  // margin: -3px 25px;
  h1 {
    font-size: 30px;
    margin: 0 0 10px;
    min-height: 50px;
    padding: 10px 0px;
    vertical-align: bottom;
    text-align: left;
    background: yellow;
    color: #8b0000;
    font-family: cursive;
    margin: 0px 0px;
    overflow: hidden;
    background: yellow;
  }
}

#kup:hover {
  color: yellow;
  border-style: ridge;
  border-color: red;
  background: black;
}

#kup:active {
  color: red;
}
.kup {
  background: yellow;
  margin-bottom: 10px;
  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8b0000;
    font-family: cursive;
    font-size: 30px;
    padding: 0px 03%;
  }
}

//<>====================================================
.img-block {
  grid-area: img-b;
  width: 240px;
  height: 100%;
  height: 250px;
  a {
    // width: 240px;
    // height: 250px;
  }
}
//<>====================================================

.kr {
  color: #707070;
  font-size: 15px;
  font-family: cursive;
  line-height: 16px;
}

.kr::first-letter {
  font-size: 30px;
  color: #ff0000;
}

.pod {
  color: #707070;
  font-size: 18px;
  font-family: cursive;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;
}

.pod::first-letter {
  font-size: 35px;
  color: #ff0000;
}

.har {
  margin-left: 30px;
}

.har li {
  color: #484343;
  font-style: oblique;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 25px;
  text-align: justify-all;
  list-style-image: url(/img/qw.jpg);
}

//<>====================================================

.table {
  margin-left: 10px;
  border: 1px solid #000;
  width: 450px;
  height: 200px;
}

.table td {
  border: 1px solid #000;
  padding: 5px;
  vertical-align: top;
  color: blue;
}

.tr td {
  width: 15px;
  vertical-align: middle;
  text-align: center;
  color: red;
}
