//<>====================================================

/*
.spease {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 10px 10px 10px color green;
  width: 220px;
  height: 120px;
  margin: 10px 15px;
  padding: 20px 10px;
  justify-content: center;
  align-items: flex-end;
}
*/

.catal .prod_img {
  width: 140px;
  height: 140px;
  margin: 10px 20px 15px;
}

.catal {
  display: inline-block;
  outline-style: dashed;
  color: red;
  text-align: center;
  align-content: center;
  margin: 10px 10px 20px 11px;
  padding: 15px 10px;
}

.catal a {
  display: block;
  color: black;
}

//<>====================================================

.kup h1 {
  display: block;
}

#kup {
  float: right;
  border-radius: 1px;
  width: 250px;
  background-color: #fc0101;
  font-family: fantasy;
  font-size: 30px;
  border: 10px double yellow;
  text-transform: capitalize;
  margin: -3px 25px;
}

#kup:hover {
  color: yellow;
  border-style: ridge;
  border-color: red;
  background: black;
}

#kup:active {
  color: red;
}

//<>====================================================

.prod_img {
  outline: 7px solid #ff0;
  float: left;
  margin: 7px 15px 15px;
}

.prod_img:hover {
  outline: none;
}

.pismo {
  margin-top: 1px;
  margin-left: 10px;
  overflow: hidden;
  border: 1px solid #f00;
}

.kr {
  color: #707070;
  font-size: 15px;
  font-family: cursive;
  line-height: 16px;
}

.kr::first-letter {
  font-size: 30px;
  color: #ff0000;
}

.pod {
  color: #707070;
  font-size: 18px;
  font-family: cursive;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;
}

.pod::first-letter {
  font-size: 35px;
  color: #ff0000;
}

.har {
  margin-left: 30px;
}

.har li {
  color: #484343;
  font-style: oblique;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 25px;
  text-align: justify-all;
  list-style-image: url(/img/qw.jpg);
}

//<>====================================================

.table {
  margin-left: 10px;
  border: 1px solid #000;
  width: 450px;
  height: 200px;
}

.table td {
  border: 1px solid #000;
  padding: 5px;
  vertical-align: top;
  color: blue;
}

.tr td {
  width: 15px;
  vertical-align: middle;
  text-align: center;
  color: red;
}
