// <effect.scss(эффекты css)>˅=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˅

// <logotTip(ЕжеСвет)>˅=============================================================˅
.header-logo-smail {
  &:hover {
    animation: logoImgColor 3s linear infinite 0s;
    @keyframes logoImgColor {
      25% {
        background-color: red;
      }
      50% {
        background-color: yellow;
      }
      75% {
        background-color: blue;
      }
    }
    .logo-down,
    .logo-up {
      display: none;
    }
    .logo-img {
      position: inherit;
      top: 0;
      left: 0;
      width: auto;
      // анимаци логотипа
      // ??? не раб плавный сброс с :hover
      // transition: 5s linear 0.5s; // ease-in-out
      // transition: transform 0.5s;
      // transform: scale(0.5) rotate(360+90deg) scale(2) rotate(360+180deg);
      animation: logoImgSize 3s linear infinite 0s; // logoImgSize2 logoImgSize3
      // animation-fill-mode: forwards; // остановка на последнем кадре
      // 1turn = 360deg = 400grad ≈ 6.2832rad
      @keyframes logoImgSize {
        0% {
          transform: rotate(0deg);
        }
        12% {
          transform: rotate(0.72turn) scale(0.5);
        }
        20% {
          transform: rotate(1.25turn);
        }
        25% {
          transform: rotate(1.25turn);
        }
        37% {
          transform: rotate(1.87turn) scale(0.5);
        }
        45% {
          transform: rotate(2.5turn);
        }
        50% {
          transform: rotate(2.5turn);
        }
        62% {
          transform: rotate(3.12turn) scale(0.5);
        }
        70% {
          transform: rotate(3.75turn);
        }
        75% {
          transform: rotate(3.75turn);
        }
        87% {
          transform: rotate(4.37turn) scale(0.5);
        }
        95% {
          transform: rotate(5turn);
        }
        100% {
          transform: rotate(5turn);
        }
      }
    }
  }
  .logo-img {
    // ??? не раб плавный сброс с :hover
    // animation: transform 0.5s;
    // transition: transform 05s linear 0s;
    // transition: transform 0.5s;
  }
}
//</logotTip(ЕжеСвет)>˄=============================================================˄

// <img(ВСЁ)>˅=============================================================˅

// <img(меню)>--------------------------------------------------------------------------

.block-img {
  position: relative;
  perspective: 700px;
  transition-duration: 1.5s;

  &:hover {
    transition-duration: 1.5s;
    .block-img__link {
      transform: rotateY(-540deg);
    }

    .block-img-back__content {
      transform: rotateY(0deg);
    }
  }
}

.block-img__link,
.block-img-back__content {
  // Скрываем обратную поверхность
  backface-visibility: hidden;
  transition: 1s ease-in-out 0.5s;
  // transition-duration: 1.5s; // продолжительность перехода
  // transition-timing-function: ease-in-out; //функц. перехода
  // transition-delay: 1s; // задержка перехода
}

.block-img__link {
  transform: rotateY(0deg);
}

.block-img-back__content {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  padding: 5px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  transform: rotateY(540deg);
  background-blend-mode: screen;

  & :not(:last-child) {
    margin: 0px 0px 3px 0px; // * кроме посдеднего
  }

  & :nth-child(n + 1):nth-child(-n + 3) {
    margin: 0px 0px 10px 0px; // * с 1 по 3 эл.
  }

  .rating__item {
    margin: 0 !important;
  }

  @include bgr_r-b;
  @media (max-width: $md2+px) {
  }
}

.block-img-back__title {
  // margin: 0px 0px 20px 0px;
  font-size: 15px;
  font-family: $fontfamily3;
}

.block-img-back__text {
  // margin: 0px 0px 15px 0px;
  font-size: 10px;
  font-family: $fontfamily3;
}

.block-img__link-back {
  // margin: 0px 0px 20px 0px;
  font-size: 15px;
  font-family: $fontfamily3;
  color: #000;
  letter-spacing: 5.5px;
  text-transform: uppercase;
  text-decoration: underline;
}

// <img(пункты меню)>--------------------------------------------------------------------------

.catalogs-items {
  .block-img__link {
    // ??? не раб - не крутится в перемещающейся области. сбивают др к др
    backface-visibility: inherit;
    transition: 0.5s ease-in-out 0s;
    // !постояная прокрутка
    // animation: run 5s infinite;
    &:hover {
      transition: 0.5s ease-in-out 0s;
      animation: run 5s infinite;
    }
    @keyframes run {
      0% {
        transform: translate(-25%, -25%) scale(0.5);
        border-radius: 0%;
      }
      12% {
        transform: translate(0%);
        border-radius: 50%;
        // ??? не раб - не крутится в перемещающейся области. сбивают др к др
        // & {
        outline: none;
        border-radius: 50%;
        // }
      }
      25% {
        transform: translate(25%, -25%) scale(0.5);
        border-radius: 0%;
      }
      37% {
        transform: translate(0%);
        border-radius: 50%;
      }
      50% {
        transform: translate(25%, 25%) scale(0.5);
        border-radius: 0%;
      }
      62% {
        transform: translate(0%);
        border-radius: 50%;
      }
      75% {
        transform: translate(-25%, 25%) scale(0.5);
        border-radius: 0%;
      }
      87% {
        transform: translate(0%);
        border-radius: 50%;
      }
      100% {
        transform: translate(-25%, -25%) scale(0.5);
        border-radius: 0%;
      }
    }
  }
}

// ! пока не использ.
.block-img-cont:hover {
  background-color: #055a49;
  cursor: pointer;
  transform: scale(1.5);
  font-size: 14px;
  color: #000;
  box-shadow: 0px 0px 5px 3px #008aaa;
}

// ! пока не использ.
.block-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0087be;
  // ??? не раб - в медПрод работает
  // box-shadow: 0px 0px 10px 20px rgb(0 138 170 / 50%);
  width: 58%;
  height: 50%;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 12px;
  transition: 1s cubic-bezier(0.34, 1.56, 0.34, 1.56),
    background-color 0.5s ease-in, color 1.5s ease-out;
}
//</img(ВСЁ)>˄=============================================================˄

// <gallery()>˅=============================================================˅
// ! пока не использ.
.gallery .gallery-grid img {
  width: 100%;
}
//</gallery()>˄=============================================================˄

//</effect.scss(эффекты css)>˄=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˄
