// <HEADER>============================================
header {
  background-color: #8b0000;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 25px 03%;
  // .header {
  //   background-color: #8b0000;
  //   height: 150px;
  //   display: flex;
  //   justify-content: space-between;
  // }
}
// <LOGO>============================================
.header-logo {
  .header-logo-smail {
    width: 100px;
    height: 100px;
    // height: 100%;
    // min-width: 100%;
    background-color: #ccc;
    // margin-top: 25px;
    // margin-left: 25px;
    // outline: 4px solid yellow;
    border: 4px solid yellow;
    float: left;
    // outline-style: ridge;
    border-style: ridge;
    @include flexbox();
    flex-direction: column;
    justify-content: space-between;
    .logo-down {
      text-align: right;
    }
    &:hover {
      outline: none;
    }
  }
}
//<MENU>====================================================
.header-menu {
  .header-nav {
  }

  .header-menu-list {
    // @include flexbox();

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-content: flex-end;
    // @media (max-width: $md2+px) {
    // }
  }

  .menu-list__items {
    &:hover .ul {
      display: block;
    }
    &:nth-child(1) a.menu-list-link {
      background-color: #ffff00;
    }
    &:nth-child(2) a.menu-list-link {
      background-color: #00ba00;
    }
    &:nth-child(3) a.menu-list-link {
      background-color: #fd2727;
    }
    &:nth-child(4) a.menu-list-link {
      background-color: #ffa500;
    }
    &:nth-child(5) a.menu-list-link {
      background-color: #1c89bb;
    }
  }

  .menu-list-link {
    // margin-top: 21px;
    font-style: italic;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    list-style-type: none;
    width: 160px;
    height: 40px;
    border: 2px solid #000;
    margin-right: 11px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover::before,
    &:hover::after {
      content: "!";
      color: #000;
    }
    &:link {
      color: #8b0000;
    }
  }

  .header-nava:link {
    color: #8b0000;
  }

  .header-nava:visited {
    color: #800080;
  }

  .header-nava:hover {
    color: #000000;
  }

  .header-nava:active {
    color: #1400d4;
  }

  // .header-nava {
  //   display: inline-block;
  //   width: 100%;
  //   height: 100%;
  // }
}
//<>====================================================

.ul {
  display: none;
  // display: block;
  // top: 20px;
  font-style: italic;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  width: 160px;
  // margin: 15px 2px 1px;
  padding: 1px 3px 3px;
  // float: right;
  list-style-type: none;
  border: 2px solid #000;
  background: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  li {
    display: block;
    top: 25px;
    margin-top: 3px;
    background: #a3a3a3;
    border: 1px solid #f00;
    a {
      text-decoration: none;
    }
  }
}

.header-nav.ul a:hover::before {
  content: ">>";
  color: #000;
}

.header-nav.ul a:hover::after {
  content: "<<";
  color: #000000;
}

/*

.header-nava:hover::before {
  content: "!!!";
  color: #000;
}

.header-nava:hover::after {
  content: "!!!";
  color: #000000;
}

.header-nava {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-nava:link {
  color: #8b0000;
}

.header-nava:visited {
  color: #800080;
}

.header-nava:hover {
  color: #1400d4;
}

.header-nava:active {
  color: #000000;
}
*/
