/* заливка поля */
.snakeGrey {
  background: #2e353d;

  /* оформление кнопок */
  button {
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    border: none;
    outline: none;
    cursor: pointer;
  }
  button#startBtn {
    margin-left: 5px;
  }

  button:hover {
    background: #009641;
  }

  button:active {
    background: #9cfb02;
    color: black;
  }
  /* стиль таблицы */
  .gameTbl {
    border-collapse: collapse;
    margin: 15px 5px;
    min-height: 500px;
  }
  /* стиль границы поля */
  .gameBoard {
    outline: 2px solid #ff8800;
  }
  /* стиль границы поля при игре */
  .gameBoardSup {
    outline: 4px solid red;
  }
  /* стиль ячейки */
  td {
    width: 20.5px;
    height: 20.5px;
    border: 1px solid #eee;
  }
  /* цвет еды */
  .food {
    background: #00d021;
  }
  /* цвет змейки */
  .snakeBody {
    background: #335200;
    border: 1.5px solid #00d021;
  }
  /* стиль результата */
  #message {
    color: orange;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
  }

  .dates {
    display: flex;
  }

  .score,
  .speed {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 10px;
  }

  .current {
    font-weight: bold;
    color: orange;
  }

  .toWin {
    /* font-size: 1em; */
    color: #920066;
    font-weight: bold;
  }

  .curSpeed {
    /* font-size: 1em; */
    color: #aa1b1b;
    font-weight: bold;
  }
}
