// <Основной блок Справочника>˅=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˅

// .spravov-block {
//   @include flexbox();
//   flex-flow: row wrap;
//   justify-content: flex-start;
// }

.spravochs-items {
  .block-body {
    margin: 0px 0px -20px 0px;
  }
}

//<>====================================================

.spravochs-block {
  .DoC1 {
    .DoC1-prob {
      // width: 250px;
      background: #bec0f3;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .DoC1-ul {
      display: flex;
      flex-direction: row;
      // flex-direction: column;
      justify-content: space-evenly;
      margin: 10px;
      padding: 10px;
      font-size: 16px;
    }
    li {
      padding: 5px;
      margin: 5px;
      list-style: none;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      background-color: #fcfda9;
    }
    a {
      background: #000;
      background-color: #fbd8d8;
      margin: 5px;
      padding: 5px;
      font-size: 18px;
    }
    li div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      margin: 5px;
      background-color: #fbd8d8;
    }
    p {
      background: #000;
      background-color: #fbd8d8;
      margin: 5px;
      padding: 2px;
      font-size: 18px;
    }
    li ul {
      flex-direction: column;
      background-color: #fbd8d8;
    }
    .DoC1-status {
      /* width: 150px; */
      background-color: #fbd8d8;
      margin: 5px;
      padding: 5px;
      text-align: center;
    }
    .DoC1-cl {
      border: 1px solid red;
    }
    .DoC1-btn {
      /* width: 150px; */
      margin: 5px;
      padding: 5px;
    }
  }

  .DoC2 {
    .DoC2-cont {
      width: 100%;
      display: table;
      // margin-left: 10px;
      border: 1px solid #000;
      // width: 450px;
      // height: 200px;
      padding: 2px;
      .DoC2-tabl {
        table-layout: fixed;
        width: 100%;
        font-size: 20px;
        padding: 1px;
        caption {
          border: 1px solid #000;
          padding: 5px;
          background-color: dimgray;
        }
        th,
        td {
          border: 1px solid #000;
          padding: 5px;
          vertical-align: top;
          color: blue;
        }

        .DoC2-head th {
          // width: 15px;
          vertical-align: middle;
          text-align: center;
          color: red;
        }
        .DoC2-body td {
          padding: 10px;
          vertical-align: middle;
          text-align: center;
          color: red;
          background-color: #bec0f3;
          h4,
          div,
          ul li,
          img,
          p,
          input,
          button {
            margin: 10px;
            padding: 10px;
            font-size: 20px;
          }
          img {
            width: 150px;
          }
        }
      }
    }
  }

  .DoC3 {
    table {
      width: 100%;
      display: table;
      // table-layout: fixed;
    }
    th {
      font-size: 25px;
      font-weight: 700;
      font-style: italic;
      background: $DarkRed;
      border-top: 5px solid $CrimsonBrown;
      border-bottom: 2px solid black;
      color: yellow;
      text-shadow: 1px 1px black;
      padding: 8px;
      vertical-align: middle;
      text-align: center;
    }
    td {
      vertical-align: middle;
      font-size: 20px;
      font-weight: 600;
      background: $WhiteAlum;
      border-bottom: 1px solid black;
      color: $WetAsphalt;
      border-top: 1px solid transparent;
      padding: 10px 10px 15px;
    }
    td:last-child {
      width: 10%;
    }
    tr:hover {
      td {
        background-color: $SignalBlack;
        color: #000;
        text-shadow: 1px 1px 0px $WetAsphalt;
        .token {
          background: $WetAsphalt;
          &::after,
          &::before {
            content: "";
            position: absolute;
            background: $WetAsphalt;
            left: 75%;
            bottom: -4px;
            width: 8px;
            height: 8px;
            box-shadow: 0 0 3px #000;
            z-index: -1;
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
          &::before {
            z-index: 0; /* Накладываем поверх, чтобы скрыть следы тени */
            box-shadow: none; /* Прячем тень */
          }
          &:hover {
            background: $DullGray;
            border: 1px solid yellow;
            &::after,
            &::before {
              background: $DullGray;
              border-bottom: 1px solid yellow;
              border-right: 1px solid yellow;
            }
          }
        }
      }
    }
    td[colspan] {
      vertical-align: middle;
      text-align: center;
      background-color: $DullGray;
      color: #000;
    }
    .token {
      text-shadow: none;
      background: $DullGray;
      .jq {
        color: #24f100;
      }
      .punct {
        color: #ff9900;
      }
      .elem {
        color: #ffd080;
      }
    }
    .token {
      z-index: 2;
      white-space: nowrap;
      border: 1px solid #555555;
      border-radius: 5px;
      padding-bottom: 5px;
      position: relative;
      background: #707070;
      box-shadow: 0 0 3px #000;
    }
    // .token::after,
    // .token::before {
    //   content: "";
    //   position: absolute;
    //   background: #707070;
    //   left: 75%;
    //   bottom: -4px;
    //   width: 8px;
    //   height: 8px;
    //   box-shadow: 0 0 3px #000;
    //   z-index: -1;
    //   -ms-transform: rotate(45deg);
    //   transform: rotate(45deg);
    //   -webkit-transform: rotate(45deg);
    // }
    // .token::before {
    //   z-index: 0; /* Накладываем поверх, чтобы скрыть следы тени */
    //   box-shadow: none; /* Прячем тень */
    // }
  }
}

//</Основной блок Справочника>˄=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˄
