.DoP {
  .DoP-prob {
    width: 250px;
    background: #bec0f3;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .DoP-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 5px;
    margin: 5px;
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-color: #fcfda9;
  }
  a {
    background: #000;
    background-color: #fbd8d8;
    margin: 5px;
    padding: 5px;
  }
  li div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    margin: 5px;
    background-color: #fbd8d8;
  }
  p {
    background: #000;
    background-color: #fbd8d8;
    margin: 5px;
    padding: 2px;
  }
  li ul {
    flex-direction: column;
    background-color: #fbd8d8;
  }
  .DoP-status {
    /* width: 150px; */
    background-color: #fbd8d8;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  .DoP-cl {
    border: 1px solid red;
  }
  .DoP-btn {
    /* width: 150px; */
    margin: 5px;
    padding: 5px;
  }
}
