// <visual.scss(визуальные эффекты css)>˅=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=˅

.visual-block {
  // position: relative;
  /* left: 50%; */
  /* top: 50%; */
  // height: 60vmin;
}

// <abstract-things №1,2,3(абстрактные штуки)>˅=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˅

.abstract-things {
  display: flex;
  .abstract-thing {
    &__1,
    &__2,
    &__3 {
      position: relative;
      height: 60vmin;
      width: calc(100% / 3);
    }
  }
  .abstract-thing__1 {
    .animated-helix {
      // ??? не раб - позиция на центре блока. flex не помогает. при уборе ширины элем сокращ и позиц на ценрте
      width: 100%;
      & > .dot {
        top: 50%;
        height: 1px;
        width: 40%;
        left: 10%;
        &::after {
          height: 2vmin;
          width: 2vmin;
          height: 15px;
          width: 15px;
        }
      }
    }
  }
  .abstract-thing__2 {
    .animated-helix {
      // ??? не раб - позиция на центре блока. flex не помогает. при уборе ширины элем сокращ и позиц на ценрте
      width: 125%;
      & > .dot {
        top: 50%;
        height: 1px;
        width: 30%;
        left: 20%;
        &::after {
          height: 2vmin;
          width: 3vmin;
          height: 100px;
          width: 3px;
        }
      }
    }
  }
  .abstract-thing__3 {
    .animated-helix {
      // ??? не раб - позиция на центре блока. flex не помогает. при уборе ширины элем сокращ и позиц на ценрте
      width: 80%;
      & > .dot {
        top: 50%;
        height: 0vmin;
        height: 1px;
        width: 20%;
        left: 30%;
        &::after {
          height: 2vmin;
          width: 3vmin;
          height: 270px;
          width: 3px;
        }
      }
    }
  }
}

// <abstract-things (абстрактная штука)>˅=============================================================˅
.abstract-things {
  .animated-helix {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 60vmin;
    width: 60vmin;
    border-radius: 50%;
  }
  .animated-helix > .dot {
    position: absolute;
    left: 0;
    top: calc(50% - 60vmin / 20);
    height: 6vmin;
    width: 50%;
    transform-origin: 100% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // -webkit-animation: update-z-index 2s linear infinite;
    animation: update-z-index 2s linear infinite;
  }
  .animated-helix > .dot::after {
    content: "";
    display: block;
    height: 3vmin;
    width: 3vmin;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // -webkit-animation: move-dot 2s linear infinite;
    animation: move-dot 2s linear infinite;
    will-change: transform;
  }

  @-webkit-keyframes move-dot {
    0% {
      transform: translateY(-50%) translateX(0) scale(1);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    25% {
      transform: translateY(-50%) translateX(3.75vmin) scale(1.2);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(-50%) translateX(7.5vmin) scale(1);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    75% {
      transform: translateY(-50%) translateX(3.75vmin) scale(0.8);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(-50%) translateX(0) scale(1);
    }
  }
  @keyframes move-dot {
    0% {
      transform: translateY(-50%) translateX(0) scale(1);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    25% {
      transform: translateY(-50%) translateX(3.75vmin) scale(1.3);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(-50%) translateX(7.5vmin) scale(1);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    75% {
      transform: translateY(-50%) translateX(3.75vmin) scale(0.7);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(-50%) translateX(0) scale(1);
    }
  }
  @-webkit-keyframes update-z-index {
    0% {
      z-index: 1;
    }
    49% {
      z-index: 1;
    }
    50% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  @keyframes update-z-index {
    0% {
      z-index: 1;
    }
    49% {
      z-index: 1;
    }
    50% {
      z-index: -1;
    }
    100% {
      z-index: -1;
    }
  }
  .animated-helix > .dot:nth-of-type(0) {
    transform: rotate(0deg);
  }
  .animated-helix > .dot:nth-of-type(0)::after {
    background: #f00;
  }
  .animated-helix > .dot:nth-of-type(0),
  .animated-helix > .dot:nth-of-type(0)::after {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .animated-helix > .dot:nth-of-type(1) {
    transform: rotate(10deg);
  }
  .animated-helix > .dot:nth-of-type(1)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(1),
  .animated-helix > .dot:nth-of-type(1)::after {
    -webkit-animation-delay: -0.33333333s;
    animation-delay: -0.33333333s;
  }
  .animated-helix > .dot:nth-of-type(2) {
    transform: rotate(20deg);
  }
  .animated-helix > .dot:nth-of-type(2)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(2),
  .animated-helix > .dot:nth-of-type(2)::after {
    -webkit-animation-delay: -0.66666667s;
    animation-delay: -0.66666667s;
  }
  .animated-helix > .dot:nth-of-type(3) {
    transform: rotate(30deg);
  }
  .animated-helix > .dot:nth-of-type(3)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(3),
  .animated-helix > .dot:nth-of-type(3)::after {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .animated-helix > .dot:nth-of-type(4) {
    transform: rotate(40deg);
  }
  .animated-helix > .dot:nth-of-type(4)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(4),
  .animated-helix > .dot:nth-of-type(4)::after {
    -webkit-animation-delay: -1.33333333s;
    animation-delay: -1.33333333s;
  }
  .animated-helix > .dot:nth-of-type(5) {
    transform: rotate(50deg);
  }
  .animated-helix > .dot:nth-of-type(5)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(5),
  .animated-helix > .dot:nth-of-type(5)::after {
    -webkit-animation-delay: -1.66666667s;
    animation-delay: -1.66666667s;
  }
  .animated-helix > .dot:nth-of-type(6) {
    transform: rotate(60deg);
  }
  .animated-helix > .dot:nth-of-type(6)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(6),
  .animated-helix > .dot:nth-of-type(6)::after {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  .animated-helix > .dot:nth-of-type(7) {
    transform: rotate(70deg);
  }
  .animated-helix > .dot:nth-of-type(7)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(7),
  .animated-helix > .dot:nth-of-type(7)::after {
    -webkit-animation-delay: -2.33333333s;
    animation-delay: -2.33333333s;
  }
  .animated-helix > .dot:nth-of-type(8) {
    transform: rotate(80deg);
  }
  .animated-helix > .dot:nth-of-type(8)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(8),
  .animated-helix > .dot:nth-of-type(8)::after {
    -webkit-animation-delay: -2.66666667s;
    animation-delay: -2.66666667s;
  }
  .animated-helix > .dot:nth-of-type(9) {
    transform: rotate(90deg);
  }
  .animated-helix > .dot:nth-of-type(9)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(9),
  .animated-helix > .dot:nth-of-type(9)::after {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
  }
  .animated-helix > .dot:nth-of-type(10) {
    transform: rotate(100deg);
  }
  .animated-helix > .dot:nth-of-type(10)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(10),
  .animated-helix > .dot:nth-of-type(10)::after {
    -webkit-animation-delay: -3.33333333s;
    animation-delay: -3.33333333s;
  }
  .animated-helix > .dot:nth-of-type(11) {
    transform: rotate(110deg);
  }
  .animated-helix > .dot:nth-of-type(11)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(11),
  .animated-helix > .dot:nth-of-type(11)::after {
    -webkit-animation-delay: -3.66666667s;
    animation-delay: -3.66666667s;
  }
  .animated-helix > .dot:nth-of-type(12) {
    transform: rotate(120deg);
  }
  .animated-helix > .dot:nth-of-type(12)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(12),
  .animated-helix > .dot:nth-of-type(12)::after {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
  }
  .animated-helix > .dot:nth-of-type(13) {
    transform: rotate(130deg);
  }
  .animated-helix > .dot:nth-of-type(13)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(13),
  .animated-helix > .dot:nth-of-type(13)::after {
    -webkit-animation-delay: -4.33333333s;
    animation-delay: -4.33333333s;
  }
  .animated-helix > .dot:nth-of-type(14) {
    transform: rotate(140deg);
  }
  .animated-helix > .dot:nth-of-type(14)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(14),
  .animated-helix > .dot:nth-of-type(14)::after {
    -webkit-animation-delay: -4.66666667s;
    animation-delay: -4.66666667s;
  }
  .animated-helix > .dot:nth-of-type(15) {
    transform: rotate(150deg);
  }
  .animated-helix > .dot:nth-of-type(15)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(15),
  .animated-helix > .dot:nth-of-type(15)::after {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
  }
  .animated-helix > .dot:nth-of-type(16) {
    transform: rotate(160deg);
  }
  .animated-helix > .dot:nth-of-type(16)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(16),
  .animated-helix > .dot:nth-of-type(16)::after {
    -webkit-animation-delay: -5.33333333s;
    animation-delay: -5.33333333s;
  }
  .animated-helix > .dot:nth-of-type(17) {
    transform: rotate(170deg);
  }
  .animated-helix > .dot:nth-of-type(17)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(17),
  .animated-helix > .dot:nth-of-type(17)::after {
    -webkit-animation-delay: -5.66666667s;
    animation-delay: -5.66666667s;
  }
  .animated-helix > .dot:nth-of-type(18) {
    transform: rotate(180deg);
  }
  .animated-helix > .dot:nth-of-type(18)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(18),
  .animated-helix > .dot:nth-of-type(18)::after {
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }
  .animated-helix > .dot:nth-of-type(19) {
    transform: rotate(190deg);
  }
  .animated-helix > .dot:nth-of-type(19)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(19),
  .animated-helix > .dot:nth-of-type(19)::after {
    -webkit-animation-delay: -6.33333333s;
    animation-delay: -6.33333333s;
  }
  .animated-helix > .dot:nth-of-type(20) {
    transform: rotate(200deg);
  }
  .animated-helix > .dot:nth-of-type(20)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(20),
  .animated-helix > .dot:nth-of-type(20)::after {
    -webkit-animation-delay: -6.66666667s;
    animation-delay: -6.66666667s;
  }
  .animated-helix > .dot:nth-of-type(21) {
    transform: rotate(210deg);
  }
  .animated-helix > .dot:nth-of-type(21)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(21),
  .animated-helix > .dot:nth-of-type(21)::after {
    -webkit-animation-delay: -7s;
    animation-delay: -7s;
  }
  .animated-helix > .dot:nth-of-type(22) {
    transform: rotate(220deg);
  }
  .animated-helix > .dot:nth-of-type(22)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(22),
  .animated-helix > .dot:nth-of-type(22)::after {
    -webkit-animation-delay: -7.33333333s;
    animation-delay: -7.33333333s;
  }
  .animated-helix > .dot:nth-of-type(23) {
    transform: rotate(230deg);
  }
  .animated-helix > .dot:nth-of-type(23)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(23),
  .animated-helix > .dot:nth-of-type(23)::after {
    -webkit-animation-delay: -7.66666667s;
    animation-delay: -7.66666667s;
  }
  .animated-helix > .dot:nth-of-type(24) {
    transform: rotate(240deg);
  }
  .animated-helix > .dot:nth-of-type(24)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(24),
  .animated-helix > .dot:nth-of-type(24)::after {
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
  }
  .animated-helix > .dot:nth-of-type(25) {
    transform: rotate(250deg);
  }
  .animated-helix > .dot:nth-of-type(25)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(25),
  .animated-helix > .dot:nth-of-type(25)::after {
    -webkit-animation-delay: -8.33333333s;
    animation-delay: -8.33333333s;
  }
  .animated-helix > .dot:nth-of-type(26) {
    transform: rotate(260deg);
  }
  .animated-helix > .dot:nth-of-type(26)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(26),
  .animated-helix > .dot:nth-of-type(26)::after {
    -webkit-animation-delay: -8.66666667s;
    animation-delay: -8.66666667s;
  }
  .animated-helix > .dot:nth-of-type(27) {
    transform: rotate(270deg);
  }
  .animated-helix > .dot:nth-of-type(27)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(27),
  .animated-helix > .dot:nth-of-type(27)::after {
    -webkit-animation-delay: -9s;
    animation-delay: -9s;
  }
  .animated-helix > .dot:nth-of-type(28) {
    transform: rotate(280deg);
  }
  .animated-helix > .dot:nth-of-type(28)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(28),
  .animated-helix > .dot:nth-of-type(28)::after {
    -webkit-animation-delay: -9.33333333s;
    animation-delay: -9.33333333s;
  }
  .animated-helix > .dot:nth-of-type(29) {
    transform: rotate(290deg);
  }
  .animated-helix > .dot:nth-of-type(29)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(29),
  .animated-helix > .dot:nth-of-type(29)::after {
    -webkit-animation-delay: -9.66666667s;
    animation-delay: -9.66666667s;
  }
  .animated-helix > .dot:nth-of-type(30) {
    transform: rotate(300deg);
  }
  .animated-helix > .dot:nth-of-type(30)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(30),
  .animated-helix > .dot:nth-of-type(30)::after {
    -webkit-animation-delay: -10s;
    animation-delay: -10s;
  }
  .animated-helix > .dot:nth-of-type(31) {
    transform: rotate(310deg);
  }
  .animated-helix > .dot:nth-of-type(31)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(31),
  .animated-helix > .dot:nth-of-type(31)::after {
    -webkit-animation-delay: -10.33333333s;
    animation-delay: -10.33333333s;
  }
  .animated-helix > .dot:nth-of-type(32) {
    transform: rotate(320deg);
  }
  .animated-helix > .dot:nth-of-type(32)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(32),
  .animated-helix > .dot:nth-of-type(32)::after {
    -webkit-animation-delay: -10.66666667s;
    animation-delay: -10.66666667s;
  }
  .animated-helix > .dot:nth-of-type(33) {
    transform: rotate(330deg);
  }
  .animated-helix > .dot:nth-of-type(33)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(33),
  .animated-helix > .dot:nth-of-type(33)::after {
    -webkit-animation-delay: -11s;
    animation-delay: -11s;
  }
  .animated-helix > .dot:nth-of-type(34) {
    transform: rotate(340deg);
  }
  .animated-helix > .dot:nth-of-type(34)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(34),
  .animated-helix > .dot:nth-of-type(34)::after {
    -webkit-animation-delay: -11.33333333s;
    animation-delay: -11.33333333s;
  }
  .animated-helix > .dot:nth-of-type(35) {
    transform: rotate(350deg);
  }
  .animated-helix > .dot:nth-of-type(35)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(35),
  .animated-helix > .dot:nth-of-type(35)::after {
    -webkit-animation-delay: -11.66666667s;
    animation-delay: -11.66666667s;
  }
  .animated-helix > .dot:nth-of-type(36) {
    transform: rotate(360deg);
  }
  .animated-helix > .dot:nth-of-type(36)::after {
    background: #fff;
  }
  .animated-helix > .dot:nth-of-type(36),
  .animated-helix > .dot:nth-of-type(36)::after {
    -webkit-animation-delay: -12s;
    animation-delay: -12s;
  }
  .animated-helix > .dot:nth-of-type(37) {
    transform: rotate(400deg);
  }
  .animated-helix > .dot:nth-of-type(37)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(37),
  .animated-helix > .dot:nth-of-type(37)::after {
    -webkit-animation-delay: -12.33333333s;
    animation-delay: -12.33333333s;
  }
  .animated-helix > .dot:nth-of-type(38) {
    transform: rotate(410deg);
  }
  .animated-helix > .dot:nth-of-type(38)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(38),
  .animated-helix > .dot:nth-of-type(38)::after {
    -webkit-animation-delay: -12.66666667s;
    animation-delay: -12.66666667s;
  }
  .animated-helix > .dot:nth-of-type(39) {
    transform: rotate(420deg);
  }
  .animated-helix > .dot:nth-of-type(39)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(39),
  .animated-helix > .dot:nth-of-type(39)::after {
    -webkit-animation-delay: -13s;
    animation-delay: -13s;
  }
  .animated-helix > .dot:nth-of-type(40) {
    transform: rotate(430deg);
  }
  .animated-helix > .dot:nth-of-type(40)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(40),
  .animated-helix > .dot:nth-of-type(40)::after {
    -webkit-animation-delay: -13.33333333s;
    animation-delay: -13.33333333s;
  }
  .animated-helix > .dot:nth-of-type(41) {
    transform: rotate(440deg);
  }
  .animated-helix > .dot:nth-of-type(41)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(41),
  .animated-helix > .dot:nth-of-type(41)::after {
    -webkit-animation-delay: -13.66666667s;
    animation-delay: -13.66666667s;
  }
  .animated-helix > .dot:nth-of-type(42) {
    transform: rotate(450deg);
  }
  .animated-helix > .dot:nth-of-type(42)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(42),
  .animated-helix > .dot:nth-of-type(42)::after {
    -webkit-animation-delay: -14s;
    animation-delay: -14s;
  }
  .animated-helix > .dot:nth-of-type(43) {
    transform: rotate(460deg);
  }
  .animated-helix > .dot:nth-of-type(43)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(43),
  .animated-helix > .dot:nth-of-type(43)::after {
    -webkit-animation-delay: -14.33333333s;
    animation-delay: -14.33333333s;
  }
  .animated-helix > .dot:nth-of-type(44) {
    transform: rotate(470deg);
  }
  .animated-helix > .dot:nth-of-type(44)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(44),
  .animated-helix > .dot:nth-of-type(44)::after {
    -webkit-animation-delay: -14.66666667s;
    animation-delay: -14.66666667s;
  }
  .animated-helix > .dot:nth-of-type(45) {
    transform: rotate(480deg);
  }
  .animated-helix > .dot:nth-of-type(45)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(45),
  .animated-helix > .dot:nth-of-type(45)::after {
    -webkit-animation-delay: -15s;
    animation-delay: -15s;
  }
  .animated-helix > .dot:nth-of-type(46) {
    transform: rotate(490deg);
  }
  .animated-helix > .dot:nth-of-type(46)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(46),
  .animated-helix > .dot:nth-of-type(46)::after {
    -webkit-animation-delay: -15.33333333s;
    animation-delay: -15.33333333s;
  }
  .animated-helix > .dot:nth-of-type(47) {
    transform: rotate(500deg);
  }
  .animated-helix > .dot:nth-of-type(47)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(47),
  .animated-helix > .dot:nth-of-type(47)::after {
    -webkit-animation-delay: -15.66666667s;
    animation-delay: -15.66666667s;
  }
  .animated-helix > .dot:nth-of-type(48) {
    transform: rotate(510deg);
  }
  .animated-helix > .dot:nth-of-type(48)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(48),
  .animated-helix > .dot:nth-of-type(48)::after {
    -webkit-animation-delay: -16s;
    animation-delay: -16s;
  }
  .animated-helix > .dot:nth-of-type(49) {
    transform: rotate(520deg);
  }
  .animated-helix > .dot:nth-of-type(49)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(49),
  .animated-helix > .dot:nth-of-type(49)::after {
    -webkit-animation-delay: -16.33333333s;
    animation-delay: -16.33333333s;
  }
  .animated-helix > .dot:nth-of-type(50) {
    transform: rotate(530deg);
  }
  .animated-helix > .dot:nth-of-type(50)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(50),
  .animated-helix > .dot:nth-of-type(50)::after {
    -webkit-animation-delay: -16.66666667s;
    animation-delay: -16.66666667s;
  }
  .animated-helix > .dot:nth-of-type(51) {
    transform: rotate(540deg);
  }
  .animated-helix > .dot:nth-of-type(51)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(51),
  .animated-helix > .dot:nth-of-type(51)::after {
    -webkit-animation-delay: -17s;
    animation-delay: -17s;
  }
  .animated-helix > .dot:nth-of-type(52) {
    transform: rotate(550deg);
  }
  .animated-helix > .dot:nth-of-type(52)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(52),
  .animated-helix > .dot:nth-of-type(52)::after {
    -webkit-animation-delay: -17.33333333s;
    animation-delay: -17.33333333s;
  }
  .animated-helix > .dot:nth-of-type(53) {
    transform: rotate(560deg);
  }
  .animated-helix > .dot:nth-of-type(53)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(53),
  .animated-helix > .dot:nth-of-type(53)::after {
    -webkit-animation-delay: -17.66666667s;
    animation-delay: -17.66666667s;
  }
  .animated-helix > .dot:nth-of-type(54) {
    transform: rotate(570deg);
  }
  .animated-helix > .dot:nth-of-type(54)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(54),
  .animated-helix > .dot:nth-of-type(54)::after {
    -webkit-animation-delay: -18s;
    animation-delay: -18s;
  }
  .animated-helix > .dot:nth-of-type(55) {
    transform: rotate(580deg);
  }
  .animated-helix > .dot:nth-of-type(55)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(55),
  .animated-helix > .dot:nth-of-type(55)::after {
    -webkit-animation-delay: -18.33333333s;
    animation-delay: -18.33333333s;
  }
  .animated-helix > .dot:nth-of-type(56) {
    transform: rotate(590deg);
  }
  .animated-helix > .dot:nth-of-type(56)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(56),
  .animated-helix > .dot:nth-of-type(56)::after {
    -webkit-animation-delay: -18.66666667s;
    animation-delay: -18.66666667s;
  }
  .animated-helix > .dot:nth-of-type(57) {
    transform: rotate(600deg);
  }
  .animated-helix > .dot:nth-of-type(57)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(57),
  .animated-helix > .dot:nth-of-type(57)::after {
    -webkit-animation-delay: -19s;
    animation-delay: -19s;
  }
  .animated-helix > .dot:nth-of-type(58) {
    transform: rotate(610deg);
  }
  .animated-helix > .dot:nth-of-type(58)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(58),
  .animated-helix > .dot:nth-of-type(58)::after {
    -webkit-animation-delay: -19.33333333s;
    animation-delay: -19.33333333s;
  }
  .animated-helix > .dot:nth-of-type(59) {
    transform: rotate(620deg);
  }
  .animated-helix > .dot:nth-of-type(59)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(59),
  .animated-helix > .dot:nth-of-type(59)::after {
    -webkit-animation-delay: -19.66666667s;
    animation-delay: -19.66666667s;
  }
  .animated-helix > .dot:nth-of-type(60) {
    transform: rotate(630deg);
  }
  .animated-helix > .dot:nth-of-type(60)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(60),
  .animated-helix > .dot:nth-of-type(60)::after {
    -webkit-animation-delay: -20s;
    animation-delay: -20s;
  }
  .animated-helix > .dot:nth-of-type(61) {
    transform: rotate(640deg);
  }
  .animated-helix > .dot:nth-of-type(61)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(61),
  .animated-helix > .dot:nth-of-type(61)::after {
    -webkit-animation-delay: -20.33333333s;
    animation-delay: -20.33333333s;
  }
  .animated-helix > .dot:nth-of-type(62) {
    transform: rotate(650deg);
  }
  .animated-helix > .dot:nth-of-type(62)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(62),
  .animated-helix > .dot:nth-of-type(62)::after {
    -webkit-animation-delay: -20.66666667s;
    animation-delay: -20.66666667s;
  }
  .animated-helix > .dot:nth-of-type(63) {
    transform: rotate(660deg);
  }
  .animated-helix > .dot:nth-of-type(63)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(63),
  .animated-helix > .dot:nth-of-type(63)::after {
    -webkit-animation-delay: -21s;
    animation-delay: -21s;
  }
  .animated-helix > .dot:nth-of-type(64) {
    transform: rotate(670deg);
  }
  .animated-helix > .dot:nth-of-type(64)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(64),
  .animated-helix > .dot:nth-of-type(64)::after {
    -webkit-animation-delay: -21.33333333s;
    animation-delay: -21.33333333s;
  }
  .animated-helix > .dot:nth-of-type(65) {
    transform: rotate(680deg);
  }
  .animated-helix > .dot:nth-of-type(65)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(65),
  .animated-helix > .dot:nth-of-type(65)::after {
    -webkit-animation-delay: -21.66666667s;
    animation-delay: -21.66666667s;
  }
  .animated-helix > .dot:nth-of-type(66) {
    transform: rotate(690deg);
  }
  .animated-helix > .dot:nth-of-type(66)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(66),
  .animated-helix > .dot:nth-of-type(66)::after {
    -webkit-animation-delay: -22s;
    animation-delay: -22s;
  }
  .animated-helix > .dot:nth-of-type(67) {
    transform: rotate(700deg);
  }
  .animated-helix > .dot:nth-of-type(67)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(67),
  .animated-helix > .dot:nth-of-type(67)::after {
    -webkit-animation-delay: -22.33333333s;
    animation-delay: -22.33333333s;
  }
  .animated-helix > .dot:nth-of-type(68) {
    transform: rotate(710deg);
  }
  .animated-helix > .dot:nth-of-type(68)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(68),
  .animated-helix > .dot:nth-of-type(68)::after {
    -webkit-animation-delay: -22.66666667s;
    animation-delay: -22.66666667s;
  }
  .animated-helix > .dot:nth-of-type(69) {
    transform: rotate(720deg);
  }
  .animated-helix > .dot:nth-of-type(69)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(69),
  .animated-helix > .dot:nth-of-type(69)::after {
    -webkit-animation-delay: -23s;
    animation-delay: -23s;
  }
  .animated-helix > .dot:nth-of-type(70) {
    transform: rotate(730deg);
  }
  .animated-helix > .dot:nth-of-type(70)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(70),
  .animated-helix > .dot:nth-of-type(70)::after {
    -webkit-animation-delay: -23.33333333s;
    animation-delay: -23.33333333s;
  }
  .animated-helix > .dot:nth-of-type(71) {
    transform: rotate(740deg);
  }
  .animated-helix > .dot:nth-of-type(71)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(71),
  .animated-helix > .dot:nth-of-type(71)::after {
    -webkit-animation-delay: -23.66666667s;
    animation-delay: -23.66666667s;
  }
  .animated-helix > .dot:nth-of-type(72) {
    transform: rotate(750deg);
  }
  .animated-helix > .dot:nth-of-type(72)::after {
    background: #000;
  }
  .animated-helix > .dot:nth-of-type(72),
  .animated-helix > .dot:nth-of-type(72)::after {
    -webkit-animation-delay: -24s;
    animation-delay: -24s;
  }
}
//</abstract-things (абстрактная штука)>˄=============================================================˄

//</abstract-things №1,2,3(абстрактные штуки)>˄=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˄

// <Пробы №1(Пробы №1)>˅=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˅

// !!! https://nisnom.com/veb-razrabotki/gorizontalnyj-akkordeon-s-krasivym-effektom-pri-navedenii-na-chistom-css/#more-3056

// ??? не раб - не доделано, пригает .acord-item__title

@import url("https://fonts.googleapis.com/css?family=Sunflower:300,500,700");

.accordion {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  background: #1c1c1c;
  background: #8a6552;
  color: #ffffff;
  font-family: "Sunflower", sans-serif;
  padding-bottom: 2rem;

  > .acord-item {
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 30rem;

    &:last-of-type {
      background: #462521;
      text-align: center;
      border-radius: 0.5rem;

      > .acord-item__icon {
        color: #ffffff;
      }
    }

    &:nth-of-type(6) {
      padding-bottom: 2rem;
    }
  }

  > .acord-item > .acord-item__icon {
    color: #462521;
    font-size: 2rem;
  }

  > .acord-item > .acord-item__title {
    font-size: 1.5rem;
  }

  > .acord-item > .acord-item__content {
  }
}

@media screen and (min-width: 800px) and (min-height: 270px) {
  .accordion {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    padding-bottom: 0;

    > .acord-item {
      display: table-cell;
      position: relative;
      height: 100%;
      padding: 2rem 1rem;
      text-align: center;
      transform-origin: 0 50%;
      transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);

      &:hover:not(:last-of-type) {
        transform: scaleX(2) translateX(-1px);
        box-shadow: 0 0 3rem #301916;
        background: #8a6552;
        border-color: transparent;
      }

      &:hover + .acord-item {
        opacity: 0.1;
      }

      &:hover + .acord-item:last-of-type {
        opacity: 0.1;
        background: #8a6552;
      }

      &:not(:last-of-type) {
        border-right: 1px solid #462521;
      }

      &:last-of-type {
        background: #462521;
        width: 25%;
        border-radius: 0;
      }

      &:last-of-type .heart-icon {
        font-size: 6rem;
      }

      &:hover:last-of-type .heart-icon {
        transform: scale(2);
      }

      &:last-of-type > .acord-item__title {
        transform: rotate(0) translateX(-50%) translateY(-2.5rem);
        padding: 0;
        // ??? не раб - не центрирует.
        text-align: center;
      }

      &:last-of-type > .acord-item__content {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
      }

      &:hover:not(:last-of-type) > .acord-item__icon {
        transform: scaleX(0.5);
      }

      &:hover:not(:last-of-type) > .acord-item__title {
        transform: scaleX(0.5) translateX(-50%);
        background: #ca2e55;
        text-align: center;

        padding: 0;

        > .acord-item__text {
          transform: translateX(-50%);
          left: 50%;
        }
      }

      &:hover:not(:last-of-type) > .acord-item__content {
        opacity: 1;
      }
    }

    > .acord-item > .acord-item__icon {
      font-weight: 700;
      font-size: 2rem;
      transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
      color: #ffffff;
    }

    > .acord-item > .acord-item__title {
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 1.5rem;
      // ??? не раб - .acord-item__title изза длины скачет. без длины уход за нижн край. такой же код отдельно раб
      width: 200%;
      text-align: left;
      transform-origin: 0 50%;
      transform: rotate(-90deg);
      transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
      font-size: 1.2rem;
    }

    > .acord-item > .acord-item__title > .acord-item__text {
      position: absolute;
      left: 2rem;
      bottom: 0;
      white-space: nowrap;
      transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
    }

    > .acord-item > .acord-item__content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200%;
      height: auto;
      transform: translateX(-50%) translateY(-50%) scaleX(0.5);
      transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
      opacity: 0;
      padding: 1rem;
      pointer-events: none;
    }
  }
}

.heart-icon {
  color: #ca2e55;
  font-size: 3rem;
  transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
}

//</Пробы №1(Пробы №1)>˄=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=˄

//</visual.scss(визуальные эффекты css)>˄=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=¡=˄
